.cart-list {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.total-price {
    text-align: right;
    padding: 5px;
    font-weight: 500;
    border-top: 1px solid #d9d9d9;
}

.return-div {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: flex-end;
}

.return-home {
    background: #6C63FF;
    color: white;
    border: 1px solid transparent;
    margin-right: 10px;
}

.return-home:hover {
    background: #fff;
    border: 1px solid #6c63ff;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #d9d9d9;
    padding: 10px;
}

.cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.cart-box {
    display: flex;
    align-items: center;
}

.cart-infor {
    margin-left: 20px;
}

.cart-item-name {
    font-size: 15px;
    max-width: 400px;
    display: --webkit-box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cart-price {
    margin: 5px 0px;
}

.cart-author {
    font-weight: 500;
    margin-bottom: 10px;
}

.cart-empty {
    width: 100%;
}

.cart-empty h3 {
    position: absolute;
    top: 50%;
    left: 30%;
}