.global-title {
    margin: 30px auto;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.Search{
    text-align: right;
}
.global-error {
    color: tomato;
    font-weight: 500;
    font-style: italic;
}

.register{
    width: 300px;
}

.header {
    background-color:#0a6f3c;
    color:#fff;
    padding: 20px;
    text-align: center;
}
.search-section {
  display: flex;
  align-items: center;
}

.search-btn {
  width: 150px;
  margin-left: 20px;
}

.home-menu {
  align-items: center;
  justify-content: space-between;
}

.book-box {
  cursor: pointer;
}

.book-name {
  text-align: center;
  margin: 22px 0px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
}

.img-curve{
  border-radius: 4px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

